<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>engineer.ai</h1>
      <h3>A sample application using devise, cancan and rolify.</h3>
    </div>
  </div>
</header>
